// @use "./global.scss";

// #root {
//     display: flex;
//     flex-direction: column;
//     gap: 2rem;

//     header {
//         position: relative;

//         @include global.small-screen {
//             background: linear-gradient(300deg, #ff723bf1, #ffb247f3);
//             padding: 20px 30px;
//             border-radius: 25px;
//         }

//         @include global.medium-to-large-screen {
//             display: flex;
//             justify-content: space-between;
//             align-items: center;
//             height: 12dvh;
//         }

//         @include global.large-screen {
//             &::before {
//                 content: "";
//                 position: absolute;
//                 top: -280vh;
//                 right: -49vw;
//                 width: 110vw;
//                 height: 300vh;
//                 background-image: repeating-radial-gradient(
//                         circle at 0 0,
//                         transparent 0,
//                         #ffb347 100%
//                     ),
//                     repeating-linear-gradient(#ff723b, #ff723b);
//                 background-color: #ffb347;
//                 border-radius: 50%;
//                 z-index: -1;
//                 transition: all 0.5s ease;
//             }
//         }

//         @include global.medium-screen {
//             &::before {
//                 content: "";
//                 position: absolute;
//                 top: -280vh;
//                 right: -43vw;
//                 width: 110vw;
//                 height: 300vh;
//                 background-image: repeating-radial-gradient(
//                         circle at 0 0,
//                         transparent 0,
//                         #ffb347 100%
//                     ),
//                     repeating-linear-gradient(#ff723b, #ff723b);
//                 background-color: #ffb347;
//                 border-radius: 50%;
//                 z-index: -1;
//                 transition: all 0.5s ease;
//             }
//         }

//         nav {
//             @include global.small-screen {
//                 margin-top: 8%;
//             }
//             height: 100%;

//             ul {
//                 @include global.small-screen {
//                     flex-wrap: wrap;
//                 }
//                 display: flex;
//                 list-style-type: none;
//                 padding: 0;
//                 margin: 0;
//                 gap: 1.5rem;
//                 height: 100%;
//                 align-items: center;
//                 justify-content: center;

//                 li > a {
//                     color: global.$primaryColor2;
//                     font-weight: 700;
//                     font-size: global.$s + 0.1rem;
//                     text-transform: uppercase;
//                     letter-spacing: 1px;
//                     text-decoration: underline;
//                     text-decoration-thickness: 3px;
//                     text-decoration-color: #00000023;
//                     text-underline-offset: 5px;
//                     transition-duration: 0.2s;

//                     &:hover {
//                         text-decoration-color: global.$primaryColor2;
//                     }
//                 }
//             }
//         }
//     }
// }

// @include global.small-screen {
//     details {
//         summary {
//             display: grid;
//             position: relative;
//             grid-template-columns: 4fr 1fr;
//             align-items: center;
//             list-style: none;
//         }

//         summary > .logo {
//             width: 190px;
//             height: auto;
//         }

//         summary::-webkit-details-marker {
//             display: none;
//         }

//         summary::after {
//             content: url("/menu.svg");
//             position: absolute;
//             font-size: global.$m;
//             justify-self: end;
//             top: 7px;
//         }
//     }

//     details[open] {
//         summary::after {
//             content: url("/close.svg");
//             font-size: global.$m;
//             justify-self: end;
//         }
//     }
// }

// main {
//     min-height: calc(100dvh - 12dvh - 4rem);
// }

